@model HotelManagementMVC.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label for="FullName">Full Name</label>
        <input type="text" id="FullName" name="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
